
.dropdown-item{
    color: aliceblue;
    font-weight: bold;
}
.mm{
    margin-top: 90px;
}
.list-css{
    background-color:#223030;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}
.container{
    background-color:rgb(244, 250, 250);
    margin-top: 10px;
}
.kkk{
    margin-top: 30px;
}